extends layout

block content
    // Banner place to change image
    .banner(style='background-image: url(../images/banner/about.png);')
      .banner_text About Us
    .container
      .sub_text
        p.lead A group of college students wanting to address the issue of external factors of healthcare within the Richmond community
      hr
    .container-fluid
      .row
        .col-md-5
          #my_table.panel.panel-default
            table#my_table.table.table-responsive.table-hover
              tbody
                tr#row1.clickable(data-toggle='collapse', data-target='.row1')
                  td 
                    span.glyphicon.glyphicon-plus(style='margin-right:1em')
                    | Mission
                tr.collapse.row1
                  td.details-control
                    | Over here at HealthWeb, we believe that when a patient visits a doctor room, there are so many other factors going on than just the illness at hand. If the doctor is treating for weakened bones, what are the chances it was because the patient does not have enough food and nutrition in their home? If a patient has gone to the ER because of broken limbs, what are the chances it was because of an abusive spouse? What are the chances it will happen again? Our mission is to eliminate or diminish the sources of the problem that are rooted in lack of a basic essential - whether that be safety, shelter, food, or etc. We hope to do this by navigating community resources for patients, including food and nutrition resources, housing resources, family services resources, and even immigration resources.
                tr#row2.clickable(data-toggle='collapse', data-target='.row2')
                  td
                    span.glyphicon.glyphicon-plus(style='margin-right:1em')
                    | Who We Are
                tr.collapse.row2
                  td
                    | We are a group of college students from the University of Richmond who believe in the vision of a better, more affordable health care system and who want the help make the change happen. Most of us are part of the Sophomore Scholars in Residence (SSIR) program, Global Health, in which we learn about the issues of the healthcare system and then have a capstone project to help the community or do research in some way.
                tr#row3.clickable(data-toggle='collapse', data-target='.row3')
                  td 
                    span.glyphicon.glyphicon-plus(style='margin-right:1em')
                    | What We Do
                tr.collapse.row3
                  td
                    | We help patients navigate resources within the community of Richmond to better address their needs. We work with CrossOver Ministries, and help the social workers complete their tasks. As for seeing patients, patients will be referred to us by doctors, where then we will sit down with them, ask about their situation, and try to suggest the best places for them. Alternatively, patients may also navigate the resources on their own on this website by clicking on their area of need and seeing what resources best fit their need and are closest to them.
                tr#row4.clickable(data-toggle='collapse', data-target='.row4')
                  td 
                    span.glyphicon.glyphicon-plus(style='margin-right:1em')
                    | History
                tr.collapse.row4
                  td
                    | HealthWeb was originally started as a capstone project a few years before 2015 in the Sophomore Scholars in Residence (SSIR) program, Global Health. It was started as a website, listing free or cheap local, state, and national resources relative to the city of Richmond. As time went on, different people managed the website, having different visions for it. Then in Fall of 2015, two individuals, Chiara Solitario and Rachel Bringewatt, overtook the HealthWeb project. Then in collaboration with the Global Health SSIR class of Fall 2015 - Spring 2016 and other interested individuals, HealthWeb took off as not only a website but as a way to navigate resources for patients and act as assistants to social workers. With the help of University of Richmond’s Association for Computing Machinery (ACM) chapter, the website was revamped to better reflect the needs of the patients and the volunteers.

        .col-md-7
          center
            img(src= "../images/logoFull.jpg" width='50%', height='50%')
    // /.container
