extends layout

block content
	br
	br
	br
	.page-header
		.container
			h1#success Successfully added listing to HealthWeb!
			br
			h4#success To view your listing, header over the the category it is listed in :)
			br
			.row#homebutton
				a(href="/")
					button.btn.btn-primary#home Homepage