extends layout

block content
	br
	br
	br
	.page-header
		.container
			h1#success Thanks so much for getting in touch!
			br
			h4#success Your message was sent to the HealthWeb team. We're working on your request and will get in touch with you shortly!
			br