extends layout

block content
	br
	br
	br
	.page-header
		.container
			h1 Looks like we couldn't find your page at this time... 
			br
			h4#success Please get in touch with rvahealthweb@gmail.com to report this.
			br
			.row#homebutton
				a(href="/")
					button.btn.btn-primary#home Homepage
