extends layout

block content
    script(src='../js/analytics.js')
    script.
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
      alert("Please note that some of the functionality on here may not work on your phone.");
      }
    // Banner place to change image
    .banner(style='background-image: url(../images/banner/home.jpg);')
      .banner_text HealthWeb
    .container
      .sub_text
        p.lead A forum connecting the Richmond community with comprehensive social health resources
      hr
    .container-fluid
      .row
        .col-md-4
            .panel.panel-default(style='background: #eee;')
              .panel-body
                h2 Quick Facts:
                p 1 in 4 residents in Richmond live below or at the federal poverty line, making it the highest in the state of Virginia.
                p On a single night in January 2014, there were 961 homeless people in Richmond.
                p 41.05% of students in Henrico County Public Schools received reduced or free lunch, and that number was 97.61% in Richmond City Public Schools.
                p One out of every three women will be abused at some point in her life.
        .col-md-8
          center
            h3 Brought to you by University of Richmond and CrossOver Ministries
            
          | Consider this scenario. A patient goes to the doctor to get treatment for his various ailments. His arthritis is acting up as well as his asthma, along with many other conditions. Most of these conditions are more severe than usual. As the doctor is checking him out, they begin to chat until the patient starts talking about his living condition. It turns out, the patient is poorer and cannot afford heating in the winter months and there is mold covering his walls everywhere, but he cannot afford to get rid of it. Had it not been for his living conditions, these conditions would not have acted up. The doctor mentions that getting put in a new living condition instead of prescribing medicine would be better. However, the patient cannot afford it, what do we do?

          p

          | This is where HealthWeb comes in. Inspired by Health Leads, HealthWeb is a Richmond-based, student-run club where we work with patients from CrossOver Ministries to help them get access to the resources they need. We cover resources from housing, food and nutrition, family services, and immigration services. Go ahead and browse the resources tabs to find the resources closest to you, or even use the search to search for resources most applicable to you.

    // /.container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
