extends layout

block content
  //- h1= title
  //- p Welcome to #{title}. Get excited because some really awesome stuff is about to go down here!
  //- Include script tags below this
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
