 <!-- Banner place to change image -->
    <div class="banner" style="background-image: url(/images/duck.jpg);">
      <div class="banner_text">HealthWeb</div>
    </div>

  <div class="container">
    <div class="home_styles">
        hgjgjghhg
      </div>
      <hr>
    </div>


    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5">
          <ul class="list-group">
  <li class="list-group-item">First item</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
  <li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li><li class="list-group-item">Third item</li>
</ul>
    </div>
        <div class="col-md-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sagittis commodo diam et interdum. Suspendisse dictum lectus eget odio sollicitudin pulvinar ac id tellus. Vivamus id mi ligula. Donec quis accumsan nisi, quis tincidunt lacus. Suspendisse velit est, porta vehicula ligula et, vehicula molestie urna. Cras quam est, egestas vitae orci elementum, imperdiet hendrerit nisi. Phasellus lobortis tempus odio. Suspendisse interdum turpis rhoncus lacus scelerisque dignissim. Etiam vulputate, turpis non congue interdum, sapien ante mattis diam, vel imperdiet nisi tellus nec erat. Duis mattis augue felis. Pellentesque orci sapien, vestibulum ultricies lectus vitae, elementum tristique nisi. Mauris ac dolor et libero convallis cursus vulputate et arcu. Donec sed tempus neque, pellentesque ullamcorper metus. Fusce sit amet augue porttitor, efficitur felis sit amet, varius velit. Curabitur in ultricies nibh.

Integer sollicitudin nunc neque, et convallis est mattis vitae. Nam ac est at purus dapibus commodo. Sed nec dapibus libero. In volutpat mauris eget dolor condimentum dignissim. Cras eget facilisis libero, non auctor dui. Nullam id nisl eget nisl consequat ultrices vitae vitae metus. Phasellus efficitur mattis neque in placerat. Fusce quam nunc, faucibus ultricies magna feugiat, semper consequat erat. Maecenas luctus, turpis non tincidunt congue, arcu libero vestibulum nibh, sit amet sodales ex arcu ac urna. Curabitur massa nibh, ultricies eu ullamcorper et, dapibus eget libero. Sed nunc dolor, rhoncus quis elit id, sodales tempus dui. Vivamus rutrum neque est, vel convallis dui vulputate quis. Sed porta sit amet magna scelerisque placerat. Praesent dictum id ligula id dapibus. Curabitur sed finibus mi, vitae porttitor erat.</div>
      </div>
    </div><!-- /.container -->


    <footer class="footer">
      <div class="container">
        <p class="footer_text">Place sticky footer content here.</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->