extends layout

block content
	br
	br
	br
	.page-header
		.container
			h1#success Successfully removed listing from HealthWeb!
			br
			h4#success Your item was successfully delisted! Keep browsing or add another listing.
			br
			.row#homebutton
				.col-md-1
				.col-md-2
				a(href="/")
					button.btn.btn-primary#home Homepage
				.col-md-2
				.col-md-2
				a(href="/newitem")
					button.btn.btn-info#home Add new item
				.col-md-2