extends layout

block content
	br 
	br
	br
	h1.
		Item List  
	//- Pull in documents called userlist in route file
	//- For each user extract information and print
	ul
		each item, i in itemlist
			li 
				p=item.username
				p=item.email
