extends layout

block content
	br
	br
	br
	.page-header
		.container
			h1#success Successfully removed listing from HealthWeb!
			br
			h4#success Your item was successfully delisted! Keep browsing or add another listing.
			br
			.row#homebutton
				a(href="/newitem")
					button.btn.btn-info#addnew Add new item