doctype html
html
  head
    title= title
  body
  include nasheya.html
  br
  br
=======
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/stylesheets/additional.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
  include nasheya.html

block content
