extends layout

block content

	br
	br
	br
	br
	
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Sign in to Healthweb
					div.account-wall
						img(style='width: 100px; height: 100px' class='profile-img', src='http://springrivermh.org/wp-content/uploads/sites/52/2011/01/Blank-person-photo1.png')
						form(class='form-signin', action='/login', method='POST')
							input(type='text', name='username' class='form-control', placeholder='Email',required, autofocus)
							br
							input(type='password', name='password' class='form-control', placeholder='Password', required)
							br
							button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
							span.clearfix
					#message
					if message
						h1.text-center.error-message #{message}
