extends layout

block content
	script(src="/js/additem.js")
	br
	br
	br
	h1#addHeader Add a listing to HealthWeb
	br

	.container-fluid#additem
		form#formAddUser(name="additem")
			.ss-item-required
				.form-group
					label(for="itemname") Organization name
					input#inputUserName(type="text" class="form-control" placeholder="REQUIRED: Organization name", name="itemname")
			.ss-item-required
				.form-group
					label(for="itemservices") Services
					input#inputServices(type="text",class="form-control",placeholder = "REQUIRED: Services offered by organization", name="itemservices")
			//- Some weird shit is happening here with the alignment
			.form-group
				label(for="itemrequirements") Requirements to get aid
				input#inputUserWebsite(type="text",class="form-control",placeholder = "Requirements to get aid", name="itemrequirements")
			.form-group
				label(for="itemhours") Hours of operation
				input#inputUserWebsite(type="text",class="form-control",placeholder = "Hours of Operation (eg. 9am-9pm)", name="itemhours")
			.form-group
				label(for="itemwebsite") Website
				input#inputUserWebsite(type="text",class="form-control",placeholder = "Organization website", name="itemwebsite")
			.form-group
				label(for="itemlocation") Address
				input#inputUserAddress(type="text",class="form-control",placeholder = "Be sure to input an address identifiable by Google Maps", name="itemlocation")
			.form-group
				label(for="itemnumber") Phone number
				input#inputUserNumber(type="text",class="form-control",placeholder = "Organization contact number", name="itemnumber")
			.form-group
				label(for="itemLogoURL") Organization logo URL
				input#inputImageURL(type="text",class="form-control",placeholder = "URL for logo (hosted on Imgur or any other image storage service)", name="itemLogoURL")
			.form-group
				label(for="secretkey") Enter your secret username and select a listing to add your post to (you can even check multiple listings)
				input.form-control(type="text" placeholder="You must be an authorized user to add entries.", name="secretkey")
				.input-group-btn
			.checkbox
				label
					input(type="checkbox" name="options", value = "food")
					| Food and nutrition 
			.checkbox
				label
					input(type="checkbox" name="options", value = "housing")
					| Housing
			.checkbox
				label
					input(type="checkbox" name="options", value = "family")
					| Family Services
			.checkbox
				label
					input(type="checkbox" name="options" value = "legal")
					| Immigration and Legal
			.checkbox
				label
					input(type="checkbox" name="options" value = "education")
					| Education
			.checkbox
				label
					input(type="checkbox" name="options" value = "health")
					| Health
			.checkbox
				label
					input(type="checkbox" name="options" value = "employment")
					| Employment
			.checkbox
				label
					input(type="checkbox" name="options" value = "dental")
					| Dental
			.checkbox
				label
					input(type="checkbox" name="options" value = "financial")
					| Emergency Financial assistance
			//.checkbox
			//	label
			//		input(type="checkbox" name="options", value = "forms")
			//		| Forms
			br
			button.btn-danger#btnSubmit(onclick="formcheck(); return false").btn.btn-default Submit

	//- Modal triggered if user has not entered sufficient info
	.modal.fade#warning(tabindex="-1" role="dialog")
		.modal-dialog.has-error
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal")
					h3#warning-text Error
