extends layout

block content
	br
	br
	br
	h1#addHeader Add a listing to HealthWeb
	script(src="/js/additem.js")
	.col-md-2
	.col-md-8
		form#formAddUser(name="additem" action="/additem" method="post")
			.form-group
				label(for="itemname") Organization name
				input#inputUserName(type="text" class="form-control" placeholder="Organization name", name="itemname")
			.form-group
				label(for="itememail") Email address
				input#inputUserEmail(type="text",class="form-control",placeholder = "Organization email", name="itememail")
			//- Some weird shit is happening here with the alignment
			.form-group
				label(for="itemnumber") Phone number
				input#inputUserNumber(type="text",class="form-control",placeholder = "Organization contact number", name="itemnumber")
			.form-group
				label(for="itemlocation") Location
				input#inputUserAddress(type="text",class="form-control",placeholder = "Organization location", name="itemlocation")
			.form-group
				label(for="itemwebsite") Website
				input#inputUserWebsite(type="text",class="form-control",placeholder = "Organization website", name="itemwebsite")
			.form-group
				label(for="itemImage") Organization logo
				input(type="file" name="userPhoto")
			.form-group
				label(for="") Enter your secret username and select a listing to add your post to (you can even check multiple listings)
				input.form-control(type="text" placeholder="You must be an authorized user to add entries.", name="secretkey")
				.input-group-btn

			.checkbox
				label
					input(type="checkbox" name="options", value = "food")
					| Food and nutrition 
			.checkbox
				label
					input(type="checkbox" name="options", value = "housing")
					| Housing
			.checkbox
				label
					input(type="checkbox" name="options", value = "family")
					| Family Services
			.checkbox
				label
					input(type="checkbox" name="options" value = "legal")
					| Immigration and Legal
			.checkbox
				label
					input(type="checkbox" name="options", value = "forms")
					| Forms
					br
			button.btn-danger#btnSubmit(onclick="validate()").btn.btn-default Submit

		//- Modal triggered if user has not entered sufficient info
	.modal.fade#warning(tabindex="-1" role="dialog")
		.modal-dialog.has-error
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal")
					h3#warning-text Error


