extends layout

block content
	br
	br
	br
	.page-header
		.container
			h1#success We couldn't find anything related to your query on HealthWeb :(
			br
			h4#success Please try again with a different name or request that your listing be added if it isn't part of HealthWeb already.
			br
			.row#homebutton
				a(href="/")
					button.btn.btn-primary#home Homepage