extends layout

block content

    .banner(style='background-image: url(../images/banner/volunteer2.jpg);')
      .banner_text Volunteer
    .container
      .sub_text
        p.lead Help the Richmond community by volunteering with HealthWeb
      hr
    .container-fluid
      .row
        .col-md-4
          center
            h2 What We Need
          img(src="../images/Misc/volunteer1.jpg" width="100%" style='opacity:0.6;filter:alpha(opacity=60);')
          p
          p
            | We act as pseudo-temporary social workers, assisting the actual social workers at CrossOver with whatever they need. However, since we are a new organization, there is much still to be done, and we can use your help! We need help in marketing and gaining recognition among patients and staff, in establishing our organization to be more legitimate, in organizational management, and so much more. If you would like to help guide HealthWeb in its early stages, please consider volunteering with us. There are opportunities available during the school year and during the summer, so please look to the other sections for more information about that. Note, however, that in order to volunteer at CrossOver with HealthWeb, there is a training session each individual must go through.

        .col-md-4
          center 
            h2 School Year
          img(src="../images/Misc/volunteer2.jpg" width="100%" style='opacity:0.6;filter:alpha(opacity=60);')
          p
          p
            | If you would like to volunteer during the school year, there are shifts available throughout the week, both in the morning and afternoon. Please use the Contact Us form to contact us about volunteering with us. In the form include your name, age, occupation (and if that is student, please indicate which school), what hours and days you are available during the week, if you will be able to provide your own transportation, a sentence or two about why you want to volunteer with us, and any other contact information besides your email you would like to provide to us. Please put “School Year Volunteering” in the subject line. Even if you would like to get more information about volunteering, go ahead and use the same Contact Us form to ask us questions.

        .col-md-4
          center 
            h2 Summer Internship
          img(src="../images/Misc/volunteer3.jpg" width="100%" style='opacity:0.6;filter:alpha(opacity=60);')
          p
          p
            | HealthWeb has potential to turn into a summer internship. It is an exciting time for HealthWeb. Since we are just starting up and can go in so many directions, you can help guide that. If you are interesting in doing a summer internship, please use the Contact Us form to contact us about the summer internship. For subject line, put in “Summer Internship” and for the reason you are contacting us, put in volunteering. Also mention your name, age, what times you are available for the summer (including hours of the day, days of the week, and months of the summer), if you will be able to provide your own transportation, a sentence or two about why you want to volunteer with us, and any other contact information besides your email you would like to provide to us. If you would like to get more information about the summer internship, go ahead and use the same Contact Us form to ask us questions.
